.developer__title {
  height: 50px;
  overflow: hidden;
  .developer__title-wrapper {
    height: 100%;
    animation: move 7s ease-in-out infinite alternate;
    overflow: visible;
    @keyframes move {
      50% {
        transform: translateY(-50px);
      }
      100% {
        transform: translateY(-100px);
      }
    }

    .developer__title-item {
      height: 50px;
      font-size: 36px;
      color: inherit;
      display: flex;
      align-items: center;
      padding-left: 30px;
    }
  }
}

.under {
  border-bottom: 3px solid #f5df4e;
}
